{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
    <title>MyDiary</title>
</head>
<body>
<div id="wrapper">
    <header>
        <div class="user">
        <a href="{% url 'index' %}">MyDiary</a>
        <a href="{% url 'partners_view' %}">Partners</a>
            </div>

        <nav>

            <!-- If there is a user profile -->
            <div class="user">
                <a href="{% url 'favorite_stories' %}">My Favorite Stories</a>
                <a href="{% url 'my_stories' %}">My Stories</a>
                <a href="{% url 'add_story' %}">Add Story</a>
                <a href="{% url 'profile_details' pk=request.user.pk %}">Profile</a>
                <a href="{% url 'logout_user' %}">Logout</a>
            </div>


        </nav>
    </header>

    <main>

        <!-- Dashboard Page -->
        {% if stories %}
                <h2>Favorite stories!</h2>
            <section id="dashboard">

            {% for story in stories %}
            <div class="fruit">
                <!-- fruit image -->
                <img src="{{ story.picture }}" alt="example1"/>
                <!-- fruit name -->
                <h3 class="title">{{ fruit.name }}</h3>
                <!-- fruit description -->
                <p class="description">{{ story.description|truncatechars:50 }}</p>
                <!-- fruit details button -->
                <a class="details-btn" href="{% url 'detail_story' pk=story.pk %}">{{ story.date }}</a>
            </div>
            {% endfor %}
            {% else %}
            <h2>No favorite stories yet.</h2>
            {% endif %}

    </main>
</div>
<!-- footer -->
<footer>
    <p>Created by Angel Gadzhev</p>
</footer>
</body>
</html>