{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
    <title>MyDiary</title>
</head>
<body>
<div id="wrapper">
    <header>
        <div class="user">
        <a href="{% url 'index' %}">MyDiary</a>
        <a href="{% url 'partners_view' %}">Partners</a>
            </div>

        <nav>
            <!-- If there is a user profile -->
            <div class="user">
                <a href="#">My Favorite Stories</a>
                <a href="{% url 'my_stories' %}">My Stories</a>
                <a href="{% url 'profile_details' pk=request.user.pk %}">Profile</a>
                <a href="{% url 'logout_user' %}">Logout</a>
            </div>

        </nav>
    </header>

    <main>

        <!-- Edit Fruit Form -->
        <section id="edit">
            <div class="form">
                <h2>Edit Partner</h2>
                <form method="post" action="{% url 'edit_partner' pk=partneruser.pk %}">

                    {{ form }}

                    <button type="submit">Edit</button>
                    {% csrf_token %}
                </form>
            </div>
        </section>

    </main>
</div>
<!-- footer -->
<footer>
    <p>Created by Angel Gadzhev</p>
</footer>
</body>
</html>